<!-- <!DOCTYPE html>
<html lang="pt-BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<head>
  <title>Dashboard</title>
</head>

<body>
  <div layout:fragment="content">
    <h2>Dashboard</h2>
    <div class="dashboard-stats">
      <div class="stat-card">
        <h3>Hoje</h3>
        <p>0</p>
        <span class="material-icons">event</span>
      </div>
      <div class="stat-card">
        <h3>Novos Clientes</h3>
        <p>0</p>
        <span class="material-icons">person_add</span>
      </div>
      <div class="stat-card">
        <h3>Receita</h3>
        <p>R$ 0,00</p>
        <span class="material-icons">attach_money</span>
      </div>
    </div>
    <div class="recent-activity">
      <h3>Atividade</h3>
      <ul>
        <li>
          <span class="material-icons">check_circle</span>
          <span>–</span>
        </li>
      </ul>
    </div>
  </div>

</body>

</html> -->